.portfolio1{
align-items: center;
column-gap: 3rem;
height: 100%;
}

.Swiper-main-div {
  margin-bottom: 30px;
}


/* For desktops and laptops */
@media (min-width: 1024px) {}

/* For tablets */
@media (max-width: 1023px) and (min-width: 768px) {}

/* For mobile devices */
@media (max-width: 767px) {}




.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: arial, sans-serif;
  font-weight: lighter;
  font-size: 18px;

}

.project-card {

  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 1.25rem;
  box-sizing: border-box;
  margin: 0.25em;
  max-width: 252px;
  min-height: 306px;
  display: flex;
  align-items: flex-end;

}

.project-comingSoon {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;

}

.project-1 {
  background-image: url('../../ImagesAndAssets/ConquerTravelsProject.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.Project-title-3 {
  display: flex;
  justify-content: center;
  width: 100%;

}

.Project-title {

  background-color: rgb(0, 0, 0);
  /* padding: 100%; */
  border-radius: 1.25rem;
  width: 100%;
  text-align: center;

}

#link-styles:hover {

  color: white;
  font-weight: 800;

}

#link-styles {
  color: rgb(255, 255, 255);
  font-weight: 500;

}



/* Increase the thickness of Swiper navigation buttons */
.swiper-button-next::after,
.swiper-button-prev::after {

  /* Increase font size */
  font-weight: bolder;
  font-size: small;
  color: rgb(9, 0, 0);

}